h1 {
    color: green;
}
#section_1_title{
    color: rgb(123,45,33);
}
#section_2_title{
    color: rgb(15,35,133);
}
.content{
    color:rgb(205,201,11);
}
section {
    background-color: blueviolet;
}